#!/usr/bin/make -f

# Copyright (C) 1998 Richard Braakman
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, you can find it on the World Wide
# Web at http://www.gnu.org/copyleft/gpl.html, or write to the Free
# Software Foundation, Inc., 59 Temple Place - Suite 330, Boston,
# MA 02111-1307, USA.

clean:
	mkdir -p .svn CVS

build:

binary-arch:

binary-indep:
	install -d debian/tmp/DEBIAN
	cp -a files debian/tmp
	chmod -R go=rX debian/tmp/files
	install -d debian/tmp/usr/lib/menu
	touch debian/tmp/usr/lib/menu/README
	touch debian/tmp/usr/lib/menu/menu
	chmod 644 debian/tmp/usr/lib/menu/*
	install -d debian/tmp/usr/lib/perl5/foo
	install -d debian/tmp/usr/lib/filenames
	mkdir debian/tmp/usr/lib/perl5/.svn
	mkdir debian/tmp/usr/lib/perl5/CVS
	touch debian/tmp/usr/lib/perl5/foo/.packlist
	chmod 644 debian/tmp/usr/lib/perl5/foo/.packlist
	touch debian/tmp/usr/lib/perl5/foo/bar.pm
	chmod 644 debian/tmp/usr/lib/perl5/foo/bar.pm
	install -d debian/tmp/usr/share/doc/filenames
	install -d debian/tmp/usr/share/doc/filenames/examples
	touch debian/tmp/usr/share/doc/filenames/examples/__init__.py
	touch debian/tmp/usr/share/doc/filenames/examples/very_interesting_example
	touch debian/tmp/usr/share/doc/filenames/examples/very_interesting_example2
	gzip debian/tmp/usr/share/doc/filenames/examples/very_interesting_example2
	touch debian/tmp/usr/share/doc/filenames/Changes
	chmod 644 debian/tmp/usr/share/doc/filenames/Changes
	gzip -9 debian/tmp/usr/share/doc/filenames/Changes
	ln -s Changes.gz debian/tmp/usr/share/doc/filenames/changelog.gz
	ln -s '../filenames/doc/version6.txt.gz' debian/tmp/usr/share/doc/filenames/version.txt.gz
	ln -s ../../share/symlink debian/tmp/usr/lib/filenames/symlink1ok
	ln -s ../../../etc/symlink debian/tmp/usr/lib/filenames/symlink1wrong
	ln -s ../../../../etc/symlink debian/tmp/usr/lib/filenames/symlink2wrong
	ln -s /etc/symlink debian/tmp/usr/lib/filenames/symlink2ok
	ln -s /usr/lib/filenames/symlink2 debian/tmp/usr/lib/filenames/symlink3wrong
	ln -s test debian/tmp/usr/lib/filenames/symlink3ok
	ln -s ../filenames/symlink2 debian/tmp/usr/lib/filenames/symlink4wrong
	ln -s ../menu/../somethingelse debian/tmp/usr/lib/filenames/symlink5wrong
	ln -s ../menu/somethingelse debian/tmp/usr/lib/filenames/symlink4ok
	ln -s ./file4 debian/tmp/usr/lib/filenames/symlink6wrong
	ln -s ../menu/./something debian/tmp/usr/lib/filenames/symlink7wrong
	ln -s ../menu//something debian/tmp/usr/lib/filenames/symlink8wrong
	ln -s ../menu/something/ debian/tmp/usr/lib/filenames/symlink9wrong
	ln -s .. debian/tmp/usr/lib/filenames/symlink5ok+warn
	ln -s . debian/tmp/usr/lib/filenames/symlink6ok+warn
	ln -s / debian/tmp/usr/lib/filenames/symlink7ok+warn
	ln -s ../../.. debian/tmp/usr/lib/filenames/symlink10wrong
	dpkg-gencontrol
	dpkg --build debian/tmp ..

binary: binary-arch binary-indep

.PHONY: build binary-arch binary-indep binary clean
