[Desktop Entry]
Name=general
Comment=An entirely correct desktop entry
Type=Application
Categories=Development;Building;
Icon=foo
Keywords=Foobar
