#!/usr/bin/make -f
%:
	dh $@ --with javahelper

override_jh_build:
	jh_build --javacopts='-target 1.4' --javacopts='-source 1.4'
	unzip testa.jar
	zip -r codeless.jar META-INF/
	zip -r manifestless.jar org/

override_dh_auto_clean:
	rm -fr META-INF/ org/
