Source: binary
Section: misc
Priority: extra
Maintainer: Lintian Maintainers <lintian-maint@debian.org>
Uploaders: Co-maintainer one <one@debian.org>, Jeroen van Wolffelaar <jeroen@wolffelaar.nl>, Co-maintainer three <three@debian.org>
Standards-Version: 3.2.1
Homepage: http://lintian.debian.org/
Vcs-Svn: http://svn.wolffelaar.nl/lintian/trunk
XS-Vcs-Browser: http://svn.wolffelaar.nl/lintian/trunk

Package: binary
Architecture: any
Depends: ${shlibs:Depends}, xorg, binary-data (= ${Source-Version}), libssl0.9.8
Homepage: <http://lintian.debian.org/>
Vcs-Svn: http://svn.wolffelaar.nl/lintian/trunk
Description: test handling of binary files
 Regression test for lintian's handling of binary files for debian.  This
 is checked for picky spelling errors.
 .
  Homepage: http://lintian.debian.org/

Package: binary-data
Architecture: all
Depends: binary (= ${Source-Version}), libssl-not-openssl,
 libssl0.9.8 | or-something-else
Description: test handling of binary relationships
 Regression test for lintian's checking of package relationships between
 arch:any and arch:all packages.

#Package: binary-comment
#Architecture: space-almonds
#Depends: *
#Depends: *
#Description: test comment support
# Yes, comments are actually allowed in debian/control, so none of the
# above should produce errors.
