Source: binary
Section: misc
Priority: extra
Maintainer: Lintian Maintainers <lintian-maint@debian.org>
Uploaders: Co-maintainer one <one@debian.org>, Jeroen van Wolffelaar <jeroen@wolffelaar.nl>, Co-maintainer three <three@debian.org>
Standards-Version: 3.2.1

Package: binary
Architecture: alpha amd64 arm hppa hurd-i386 i386 ia64 kfreebsd-i386 m68k mips mipsel powerpc ppc64 s390 sparc
Depends: ${shlibs:Depends}, xorg
Description: test handling of binary files
 Regression test for lintian's handling of binary files.
