#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cp /bin/true none
	cp /bin/true same
	cp /bin/true foreign
	
	cp /etc/rc.local none-script
	cp /etc/rc.local same-script
	cp /etc/rc.local foreign-script
