Source: basic
Section: devel
Priority: optional
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Standards-Version: 4.7.1
Rules-Requires-Root: no

Package: basic
Architecture: all
Description: Test package for git-buildpackage detection
 This is a test package designed to test Lintian's
 detection of packages using git-buildpackage.
 .
 This is a test package only and not meant to be
 installed.
