#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
DOC=debian/$(PKG)/usr/share/doc/$(PKG)

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs
	gzip -n -9c < debian/package-news > $(DOC)/news.debian.gz
