/*-stamp
/debian/*.debhelper.*
/debian/debhelper-build-stamp
/debian/files
/debian/lintian.substvars
/debian/lintian/
/debian/test-out/
/debian/test.locale/
/doc/api.html/
/doc/README
/doc/help.tmp
/doc/lintian.html/
/doc/lintian.txt
/l10n/
/man/man1/
/runtests
*.iml
/.idea/
/.nobackup
*.rej
cover_db*
/coverage-report
