Bastien ROUCARIÈS <roucaries.bastien+debian@gmail.com>
Damyan Ivanov <dmn@debian.org>
Jakub Wilk <jwilk@debian.org>
Jean-Michel Vourgère <jmv_deb@nirgal.com>
Jean-Michel Vourgère <nirgal@debian.org>
Johannes Schauer <j.schauer@email.de>
Justin B Rye <jbr@edlug.org.uk>
Justin B Rye <justin.byam.rye@gmail.com>
Marcelo Jorge Vieira <metal@alucinados.com>
Marcelo Jorge Vieira <metal@debian.org>
Raphaël Hertzog <hertzog@debian.org>
Tobias Quathamer <toddy@debian.org>
