Source: description
Section: text
Priority: extra
Maintainer: Tobias Toedter <toddy@debian.org>
Uploaders: Tobias Toedter <toddy@debian.org>, Foo Bar Moo <foo@debian.org>
Standards-Version: 3.8.0

Package: description
Architecture: all
Description: description is a package which tests lintian's description checks.
 missing
 The the synopsis should not start with the package's name. Moreover,
 the long description
 	should
 	not
 contain tabs.
 .control statements are not allowed as well.
 .
 All all all of of these these should be matched matched matched
 .
 This description was automagically extracted from the module by dh-make-perl
 .
 No, not really...

Package: description-foo
Architecture: all
Description: Don't use tabs	in the synopsis and restrict yourself to less than 80 characters, otherwise Lintian will complain
    Oh, and don't start the long description with spaces.
 Now here comes a list:
 - which is
 - unfortunately
 - not correctly indented.

Package: description-bar
Architecture: all
Description:
 There should really be a synopsis.
 . and please avoid control statements in the long description.
 The line in an extended description should be less than 80 characters, otherwise you'll get
 a Lintian warning.
 .
 And the old man said "he he is the one!"
 "No, I am am not", he replied

Package: description-baz
Architecture: all
Description:    the synopsis starts with spaces
 This is a real Lintian bug which has been discovered with this testset.

Package: description-qux
Architecture: all
Description: This description ends, etc.
 This is another real Lintian bug which has been discovered with this
 testset.
