#!/usr/bin/make -f

description=debian/description
description-foo=debian/description-foo
description-bar=debian/description-bar
description-baz=debian/description-baz
description-qux=debian/description-qux

build:

binary-indep:
	# Create package description
	install -d $(description)
	install -d $(description)/DEBIAN
	install -d $(description)/usr/share/doc/description
	install -m 644 debian/changelog \
	  $(description)/usr/share/doc/description/changelog.Debian
	gzip -1 $(description)/usr/share/doc/description/changelog.Debian
	dpkg-gencontrol -pdescription -P$(description)
	dpkg --build $(description) ..
	
	# Create package description-foo
	install -d $(description-foo)
	install -d $(description-foo)/DEBIAN
	install -d $(description-foo)/usr/share/doc/description
	install -m 644 debian/changelog \
	  $(description-foo)/usr/share/doc/description/changelog.Debian
	gzip -9 $(description-foo)/usr/share/doc/description/changelog.Debian
	dpkg-gencontrol -pdescription-foo -P$(description-foo)
	dpkg --build $(description-foo) ..
	
	# Create package description-bar
	install -d $(description-bar)
	install -d $(description-bar)/DEBIAN
	install -d $(description-bar)/usr/share/doc/description
	install -m 644 debian/changelog \
	  $(description-bar)/usr/share/doc/description/changelog.Debian
	gzip -9 $(description-bar)/usr/share/doc/description/changelog.Debian
	dpkg-gencontrol -pdescription-bar -P$(description-bar)
	dpkg --build $(description-bar) ..
	
	# Create package description-baz
	install -d $(description-baz)
	install -d $(description-baz)/DEBIAN
	install -d $(description-baz)/usr/share/doc/description
	install -m 644 debian/changelog \
	  $(description-baz)/usr/share/doc/description/changelog.Debian
	gzip -9 $(description-baz)/usr/share/doc/description/changelog.Debian
	dpkg-gencontrol -pdescription-baz -P$(description-baz)
	dpkg --build $(description-baz) ..

	# Create package description-qux
	install -d $(description-qux)
	install -d $(description-qux)/DEBIAN
	install -d $(description-qux)/usr/share/doc/description
	install -m 644 debian/changelog \
	  $(description-qux)/usr/share/doc/description/changelog.Debian
	gzip -9 $(description-qux)/usr/share/doc/description/changelog.Debian
	dpkg-gencontrol -pdescription-qux -P$(description-qux)
	dpkg --build $(description-qux) ..
binary: binary-indep

clean:
	rm -rf debian/files $(description) $(description-foo) \
	  $(description-bar) $(description-baz) $(description-qux) debian/substvars

.PHONY: build binary-indep binary clean
