#!/usr/bin/make -f

PATENT=patented-app
CRYPTO=crypto-app
BROKEN=broken-crypto
NONFREE=nonfree-crypto-app

build:

binary-arch:

binary-indep:
	# patented-app
	install -d debian/$(PATENT)-tmp/DEBIAN
	install -d debian/$(PATENT)-tmp/usr/share/doc/$(PATENT)
	gzip -9c debian/changelog > debian/$(PATENT)-tmp/usr/share/doc/$(PATENT)/changelog.gz
	dpkg-gencontrol -isp -p$(PATENT) -Pdebian/$(PATENT)-tmp
	dpkg --build debian/$(PATENT)-tmp ..

	# crypto-app
	install -d debian/$(CRYPTO)-tmp/DEBIAN
	dpkg-gencontrol -isp -p$(CRYPTO) -Pdebian/$(CRYPTO)-tmp
	dpkg --build debian/$(CRYPTO)-tmp ..

	# broken-crypto
	install -d debian/$(BROKEN)-tmp/DEBIAN
	dpkg-gencontrol -isp -p$(BROKEN) -Pdebian/$(BROKEN)-tmp
	dpkg --build debian/$(BROKEN)-tmp ..

	# nonfree-crypto-app
	install -d debian/$(NONFREE)-tmp/DEBIAN
	dpkg-gencontrol -isp -p$(NONFREE) -Pdebian/$(NONFREE)-tmp
	dpkg --build debian/$(NONFREE)-tmp ..

binary: binary-arch binary-indep

clean:

.PHONY: build binary-arch binary-indep binary clean
