Source: control-field-traversal-1
Section: devel
Priority: optional
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4

Package: control-field-traversal-1
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test for directory traversal issues via field names or values
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
