#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

DEB_AUTO_UPDATE_DEBIAN_CONTROL = yes
DH_EXTRA_ADDONS = systemd

%:
	dh $@

clean:
	dh_clean
	echo $(DEB_BUILD_OPTS) $(PWD)
	@echo $(_)
