#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL = yes

%:
	# hide dh error but allow this check to run
	if false; then dh --with autotools-dev $@ ;fi;
	dh $@ --with autotools_dev

clean:
	dh_clean
	echo $(DEB_BUILD_OPTS) $(PWD)
	@echo $(_)
