[Desktop Entry]
Name=GNU Foo
GenericName=Foo
Comment=A foo test entry for Lintian
Type=Application
Categories=Game;BoardGame;GTK;
MimeType=application/foo;
Icon=foo
Keywords=Lintian
