Source: cdbs-test
Section: devel
Priority: optional
Maintainer: Lintian Maintainers <debian-lint-maint@lists.debian.org>
Build-Depends: cdbs, yada, patchutils (>= 0.2.25)
Build-Depends-Indep: debhelper, cdbs
Standards-Version: 3.7.3

Package: cdbs-test
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Checks related to the cdbs build-system
 bla bla bla
 .
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
