Source: cdbs-test
Section: devel
Priority: optional
Maintainer: Frank Lichtenheld <djpig@debian.org>
Build-Depends: cdbs, yada
Build-Depends-Indep: debhelper, cdbs
Standards-Version: 3.7.0

Package: cdbs-test
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Checks related to the cdbs build-system
 bla bla bla
