Source: cruft-empty-diff
Priority: extra
Section: devel
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 7)

Package: cruft-empty-diff
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test an empty Debian diff
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.  It may
 be an empty package.
