#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir tmp
	gzip -n -9c  < data-file > tmp/comp-data.gz
	mkdir symlinks/
	ln -s ../../../../etc/lintian/pkg.conf symlinks/pkg-old.conf
	ln -s ../..//..//..//../etc/lintian/pkg.conf symlinks/pkg.conf
	ln -s /usr/share/lintian/data/data-file symlinks/data-file.old
	ln -s /etc/lintian/ symlinks/etc-lintian
	ln -s / symlinks/self-recursive
	ln -s ../../lintian-old/../lintian/data/data-file  symlinks/spurious
	ln -s ../../../share/lintian/data/comp-data.gz symlinks/comp-data
	ln -s /var/lib/sbuild/1024 symlinks/1024

override_dh_auto_clean:
	rm -fr symlinks/ tmp

override_dh_link:
	# it will fix our symlinks and ruin the test, so skip it.
