[Desktop Entry]
Name=environments
Type=Application
Comment=Incorrectly limited to particular environments
Categories=Development;
Exec=foo
OnlyShowIn=GNOME;KDE;
Icon=foo
Keywords=Golf
