Source: manpages
Section: misc
Priority: optional
Maintainer: Lintian Maintianer <lintian-maint@debian.org>
Standards-Version: 3.2.1

Package: manpages
Architecture: all
Depends: test
Description: test lintian's manual page checks
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
