Source: diffs
Section: interpreters
Priority: extra
Maintainer: Lintian Maintainers <lintian-maint@debian.org>
Build-Depends: dpatch
Standards-Version: 3.5.9

Package: diffs
Architecture: all
Depends: test
Description: test lintian's diff file checks
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
