#!/usr/bin/make -f

package := diffs
tmp := debian/tmp

build:
	make

binary-arch:

binary-indep:
	install -d $(tmp)/usr/bin/
	install -d $(tmp)/usr/share/doc/$(package)/
	install -d $(tmp)/DEBIAN

	install -s -m 755 binary $(tmp)/usr/bin/$(package)
	gzip -c9 ChangeLog > $(tmp)/usr/share/doc/$(package)/changelog.gz
	gzip -c9 debian/changelog > $(tmp)/usr/share/doc/$(package)/changelog.Debian.gz

	dpkg-gencontrol -isp
	dpkg --build $(tmp) ..

binary: binary-arch binary-indep

clean:
	rm -rf $(tmp)
#	make clean
	rm -f subdir-good/config.cache subdir-good/config.log subdir-good/config.status

.PHONY: build binary-arch binary-indep binary clean
