Source: debian-source-dir-unknown-source-format
Section: devel
Priority: optional
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.2

Package: debian-source-dir-unknown-source-format
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test for source package without a known source format
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
