{ head("Lintian Report for $name", 1) }
  <h1>{$name}</h1>

  <p>
    All of the packages maintained by {$maintainer} are Lintian-clean.
{
    if (!$clean) {
        qq(    But also see the <a href="${path_prefix}full/$id">full report</a>)
           . " which includes info, experimental and overridden tags";
    }
}
  </p>

  <p>
    Also see their
    <a href="https://qa.debian.org/developer.php?login={$email}">QA
    overview</a>.
  </p>
{ foot() }
