<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Lintian Report for {$name}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../lintian.css" type="text/css" />
</head>

<body>
  <h1>Lintian Report for {$name}</h1>

  <p>
    All of the packages maintained by {$maintainer} are Lintian-clean.
  </p>

  <p>
    Also see their
    <a href="http://qa.debian.org/developer.php?login={$email}">QA
    overview</a>.
  </p>
        
  <hr />
  <div class="footer">
    <p>
      Please send all comments about these web pages to the
      <a href="mailto:lintian-maint\@debian.org">Lintian maintainers</a>.<br />
      Page last updated: {$timestamp} using Lintian {$version}
    </p>
  </div>
</body>
</html>
