{ head("Lintian Report for $name", 1) }
  <h1>{$name}</h1>

  <p>
    All of the packages maintained by {$maintainer} are Lintian-clean.
    But also see the <a href="../full/{$id}">full report</a>, which includes
    info and overridden tags.
  </p>

  <p>
    Also see their
    <a href="http://qa.debian.org/developer.php?login={$email}">QA
    overview</a>.
  </p>
{ foot() }
