</div> <!-- main -->

<hr/>

<div id="footer">
  <p>
    Please send all comments about these web pages to the
    <a href="mailto:lintian-maint@debian.org">Lintian maintainers</a>.
  </p>
  <p>Page last updated: {$timestamp} using Lintian {$version}.</p>
</div>

</body>
</html>
