</main>

<hr/>

<footer>
  <p>
    Comments about these web pages?  Please use
    <a href="https://packages.debian.org/sid/reportbug">reportbug</a>
    to report a bug against the lintian package.
  </p>
  <p>
    The source code to Lintian is available under the GNU GPL version 2,
    or (at your option) any later version.  It can be downloaded from
    <a href="{$config_vars{LINTIAN_SOURCE}}">{$config_vars{LINTIAN_SOURCE}}</a>.
  </p>
  <p>Page last updated: {$timestamp} using Lintian {$version}.</p>
</footer>

</body>
</html>
