<!DOCTYPE html>
<html lang="en">
<head>
  <title>{$page_title}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{resource_path('lintian.css')}" type="text/css" integrity="{resource_integrity('lintian.css')}" crossorigin="anonymous" />
  <link rel="icon" href="{resource_path('ico.png')}" type="image/png" integrity="{resource_integrity('ico.png')}" crossorigin="anonymous" />
</head>

<body>

<header>
  <p><a href="{$path_prefix}index.html">Lintian Reports</a></p>
  <nav>
  <ul id="nav">
    <li><a href="{$path_prefix}maintainers.html">Maintainers</a></li>
    <li><a href="{$path_prefix}tags.html">Emitted Tags</a></li>
    <li><a href="{$path_prefix}tags-all.html">All Tags</a></li>
    <li><a href="{$path_prefix}packages_1.html">Packages</a></li>
  </ul>
  </nav>
  <div class="clear"></div>
</header>

<main>
