{ head("Lintian Package Index: $section") }
  <h1>Package Index: {$section}</h1>

  <p>
    This is a list of all source packages that have at least one
    lintian tag.  This includes all tags, even experimental and info tags
    and tags that were overridden.  The list is huge, so it's broken into
    four separate pages.  This page covers package names starting with
    {$section}.
  </p>

  <p>
      <a href="{$path_prefix}packages_1.html">0-9, A-F</a>
    | <a href="{$path_prefix}packages_2.html">G-L</a>
    | <a href="{$path_prefix}packages_3.html">M-R</a>
    | <a href="{$path_prefix}packages_4.html">S-Z</a>
  </p>

{
    # ' # hi, emacs
    # Put headings before each new initial letter.
    my $letter = '';
    for my $package (@list) {
        my $first = uc substr($package, 0, 1);
        if ($first ne $letter) {
            $OUT .= "  </p>\n\n" if $letter;
            $OUT .= qq(  <h2>$first</h2>\n\n  <p>\n);
            $letter = $first;
        }
        foreach my $version (sort by_version keys %{ $sources{$package} }) {
            $OUT .= qq(    <a href="${path_prefix}full/$sources{$package}{$version}">$package ($version)</a>\n);
        }
    }
}  </p>
{ foot() }
