{ head("Lintian Tags") }
  <h1>Tags</h1>

  <p>
    This is a list of all tags that occur at least once in the archive
    with their frequency counts.  This includes all tags, even
    experimental and info tags.
  </p>

  <ul>
{
    for my $tag (sort keys %stats) {
        my $packages = $stats{$tag}{'packages'};
        my $count = $stats{$tag}{'count'};
        my $overrides = $stats{$tag}{'overrides'};
        $OUT .= qq(    <li><a href="${path_prefix}tags/$tag.html">$tag</a>)
            . " ($packages packages, $count tags"
            . ($overrides > 0 ? ", plus $overrides overrides" : "")
            . ")</li>\n";
    }
}  </ul>
{ foot() }
