<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Lintian Tags</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="lintian.css" type="text/css" />
  <link rel="icon" href="ico.png" type="image/png" />
</head>

<body>

<div id="header">
  <p><a href="index.html">Lintian Reports</a></p>
  <ul id="nav">
    <li><a href="maintainers.html">Maintainers</a></li>
    <li><a href="tags.html">Tags</a></li>
    <li><a href="packages_1.html">Packages</a></li>
  </ul>
  <div class="clear"></div>
</div>

<div id="main">
  <h1>Tags</h1>

  <p>
    This is a list of all tags that occur at least once in the archive
    with their frequency counts.  This includes all tags, even
    experimental and info tags.
  </p>

  <ul>
{
    for my $tag (sort keys %tags) {
        my ($count, $overrides) = (0, 0);
        my %seen;
        for my $info (@{ $tags{$tag} }) {
            if ($info->{code} eq 'O') {
                $overrides++;
            } else {
                $count++;
                $seen{$info->{xref}}++;
            }
        }
        my $packages = scalar keys %seen;
        $OUT .= qq(    <li><a href="tags/$tag.html">$tag</a>)
            . " ($packages packages, $count tags, plus $overrides overrides)"
            . "</li>\n";
    }
}  </ul>
</div> <!-- main -->

<hr/>

<div id="footer">
  <p>
    Please send all comments about these web pages to the
    <a href="mailto:lintian-maint@debian.org">Lintian maintainers</a>.
  </p>
  <p>Page last updated: {$timestamp} using Lintian {$version}.</p>
</div>

</body>
</html>
