{ head("Lintian Tags") }
  <h1>Tags</h1>

  <p>
    This is a list of all tags known to Lintian even the ones
    not emitted.
  </p>

  <ul>
{
    for my $tag (sort $profile->known_tags) {
        my $text;
        my $q_tag = html_quote($tag);
        if ($stats{$tag}) {
            my $packages = $stats{$tag}{'packages'};
            my $count = $stats{$tag}{'count'};
            my $overrides = $stats{$tag}{'overrides'};
            $text = "$packages packages, $count tags"
                . ($overrides > 0 ? ", plus $overrides overrides" : "");
        } else {
            $text = 'Not emitted';
        }
        $OUT .= qq(    <li><a href="${path_prefix}tags/${q_tag}.html">${q_tag}</a>)
            . " ($text)"
            . "</li>\n";
    }
}  </ul>
{ foot() }
