#!/usr/bin/make -f

DESTDIR = debian/$(shell dh_listpackages)
APPSYNC_DIR=$(DESTDIR)/usr/share/metainfo/
UDEV_DIR=$(DESTDIR)/lib/udev/rules.d/

%:
	dh $@

override_dh_install:
	dh_install
	install -m 0644 debian/udev-rules.metadata.xml $(APPSYNC_DIR)
	ln -s dangling $(UDEV_DIR)/60-dangling-symlink.rules
