#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

pkg=strings-elf-detection
%:
	dh $@

override_dh_install:
	touch foo bar::ELF
	mkdir -p debian/$(pkg)/usr/lib/foo
	cp true debian/$(pkg)/usr/lib/foo/true\ false
	dh_install

