#!/usr/bin/make -f

PERL ?= /usr/bin/perl

VER := $(shell head -1 debian/changelog | sed -e 's/^.*(//' -e 's/).*$$//')
tmp := $(CURDIR)/debian/lintian
profiles := profiles/debian/main.profile \
	    profiles/debian/ftp-master-auto-reject.profile
neededfiles := debian/rules frontend/lintian $(profiles)
docsource := doc/lintian.xml README man/lintian.pod.in \
	     man/lintian-info.pod
allchecks := $(wildcard checks/*)
allcollect := $(wildcard collection/*)
tagfiles := $(wildcard t/changes/*.changes t/*/*/tags)
testfiles := $(wildcard t/tests/*/*.desc)
perlprovides := data/fields/perl-provides
autoreject_data := $(wildcard private/build-time-data/*)
po4acheckcfg := po4a/po4a-checks.cfg
onlyrun =
tag =

# Work/output dir for tests
# private/runtests gets TEST_WORK_DIR from environment
export TEST_WORK_DIR ?= $(CURDIR)/debian/test-out

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	testtarget = runtests
else
	testtarget =
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	jobs = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	PAR_ARGS=-j $(jobs)
endif

profiles: $(profiles)
$(profiles): $(allchecks) $(autoreject_data) private/generate-profiles.pl
	private/generate-profiles.pl

api-doc:
	private/generate-html-docs doc/api.html

runtests: $(neededfiles) $(allchecks) $(allcollect) $(tagfiles) $(testfiles)
	@echo .... running tests ....
	mkdir -p "$(TEST_WORK_DIR)"
	t/runtests --dump-logs -k $(PAR_ARGS) t "$(TEST_WORK_DIR)" $(onlyrun)
	if [ "$(onlyrun)" = "" ]; then touch $@; fi

runtests-translation: $(neededfiles) $(allchecks) update-po
	@echo .... running translation tests ....
	mkdir -p "$(TEST_WORK_DIR)"
	t/runtests --dump-logs -k $(PAR_ARGS) t "$(TEST_WORK_DIR)" \
	  translation-check-descs

# this target is only run manually
refresh-perl-provides:
	perl private/refresh-perl-provides > $(perlprovides)

# For translators, we keep basically any file regardless of how little
# is translated.  But for release purposes, we require 80%.
update-po: $(po4acheckcfg)
	rm -rf l10n
	PERL5LIB=lib/ po4a --keep 0.001 $<

po4a/%.cfg: po4a/%.cfg.in private/gen-po4a-conf
	private/gen-po4a-conf $@

generate-docs: generate-docs-stamp
generate-docs-stamp: $(docsource)
	dh_testdir
	cd doc && LC_ALL=C docbook2html  -V "%use-id-as-filename%" -o lintian.html lintian.xml
	cd doc && LC_ALL=C jw -b txt lintian.xml
	mkdir -p man/man1/
	private/generate-lintian-pod | \
		pod2man --name lintian --center "Debian Package Checker" --section=1 > man/man1/lintian.1
	pod2man --section=1 man/lintian-info.pod > man/man1/lintian-info.1
	private/generate-html-docs doc/api.html > /dev/null
	touch $@

# Target for updating things on lintian.d.o
rebuild-lintian.debian.org: api-doc generate-docs-stamp

build-arch build-indep build: build-stamp
build-stamp: $(neededfiles) generate-docs-stamp $(testtarget)
	dh_testdir

	PERL5LIB=lib/ po4a --keep 80 $(po4acheckcfg)

	# check that the static data about perl core modules is up to date
	$(PERL) -ne '/PERL_VERSION=(.+)/ and $$] > $$1 and warn q{*}x60 . qq{\n$(perlprovides) needs an update, please run\n  debian/rules refresh-perl-provides\n} . q{*}x60 . qq{\n}' $(perlprovides)

	touch $@

clean: $(neededfiles)
	@echo .... cleaning ....
	dh_testdir
	dh_testroot
	rm -f runtests build-stamp
	rm -rf doc/lintian.html/ doc/lintian.txt
	rm -rf doc/api.html
	rm -rf "$(TEST_WORK_DIR)"
	rm -rf man/man1/
	rm -fr l10n/
	dh_clean

binary-indep: $(neededfiles) build
	@echo .... binary-indep ....
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	dh_install
# some manual work
	perl -p -i -e 's/my \$$LINTIAN_VERSION;/my \$$LINTIAN_VERSION = q{$(VER)};/;' \
	     -e 's@my \$$INIT_ROOT(\s*=.*)?;@my \$$INIT_ROOT = q{/usr/share/lintian};@;' \
	    $(tmp)/usr/bin/lintian $(tmp)/usr/share/lintian/frontend/dplint
	install -m 644 doc/lintianrc.example $(tmp)/etc/lintianrc
	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_installman
	dh_lintian
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary:	binary-indep binary-arch

.PHONY: build binary binary-arch binary-indep clean refresh-perl-provides update-po update-lintian.debian.org generate-docs
.DELETE_ON_ERROR: runtests
