#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
FILESDIR=debian/$(PKG)/usr/lib/filenames

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	# Create some files with invalid ownership *after* dh_fixperms
	mkdir -p $(FILESDIR)
	set -e; for owner in 100:0 0:2001 30001:65535 65535:65001; do \
	      touch $(FILESDIR)/wrong-owner-$$owner ; \
	      chmod 644 $(FILESDIR)/wrong-owner-$$owner ; \
	      chown "$$owner" $(FILESDIR)/wrong-owner-$$owner ; \
	done

