Package: fields-wildcard-binary
Version: 1.0
Architecture: any-i386
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Section: devel
Priority: optional
Description: Test for architecture wildcard in binary package
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.  It may
 be an empty package.
