#!/usr/bin/make -f
pkg=files-gzip-ma-same

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs
	[ -f debian/$(pkg)/usr/share/doc/$(pkg)/changelog ] || \
		gunzip debian/$(pkg)/usr/share/doc/$(pkg)/changelog.gz
	gzip --best debian/$(pkg)/usr/share/doc/$(pkg)/changelog

override_dh_strip_nondeterminism:
	# Skip, it messes with our test
