#!/usr/bin/make -f

DEB_BUILD_OPTIONS := nostrip
export DEB_BUILD_OPTIONS

%:
	dh $@

binary:
	head -n1 /bin/true > debian/elfobject
	echo "deflate 1.2.3.3 Copyright 1995-2006 Jean-loup Gailly" \
		>> debian/elfobject
	dh binary
