#!/usr/bin/make -f
PKG:=files-nodejs
INSTPATH:=$(CURDIR)/debian/tmp/usr/share/nodejs


%:
	dh $@

override_dh_install:
	mkdir -p $(INSTPATH)
	cp src/test.js $(INSTPATH)/test.js
	cp src/test.json $(INSTPATH)/package.json
	dh_install



