#!/usr/bin/make -f

tmp=debian/tmp

clean:
	rm -f debian/files debian/substvars
	rm -rf debian/tmp

build:
binary-indep:
	install -d $(tmp)/etc
	install -m 644 proper $(tmp)/etc
	install -m 644 improper $(tmp)/etc
	mkdir $(tmp)/etc/cron.daily
	touch $(tmp)/etc/cron.daily/cronfile-normal
	touch $(tmp)/etc/cron.daily/.cronfile-begins-with-fullstop
	touch $(tmp)/etc/cron.daily/cronfile-contains.fullstop
	ln $(tmp)/etc/improper $(tmp)/etc/improper-link
	install -d $(tmp)/usr/share/doc/etcfiles
	install -d $(tmp)/var/lib
	cp proper $(tmp)/var/lib/foo
	install -m 644 debian/README.Debian $(tmp)/usr/share/doc/etcfiles
	install -m 644 debian/changelog $(tmp)/usr/share/doc/etcfiles
	#gzip -9 $(tmp)/usr/share/doc/etcfiles/changelog
	install -d $(tmp)/DEBIAN
	install -m 644 debian/conffiles $(tmp)/DEBIAN

	echo '68b329da9893e34099c7d8ad5cb9c940  ./etc/cron.daily/cronfile-normal' \
	    > debian/tmp/DEBIAN/md5sums
	echo '68b329da9893e34099c7d8ad5cb9c940  ./etc/cron.daily/.cronfile-begins-with-fullstop' \
	    > debian/tmp/DEBIAN/md5sums
	echo '68b329da9893e34099c7d8ad5cb9c940  ./etc/cron.daily/cronfile-contains.fullstop' \
	    > debian/tmp/DEBIAN/md5sums
	echo 'ab371382468880299e5ebd05921764ce  ./etc/proper' \
	    > debian/tmp/DEBIAN/md5sums
	echo 'ab371382468880299e5ebd05921764ce  etc/improper' \
	    >> debian/tmp/DEBIAN/md5sums
	echo 'ab371382468880299e5ebd05921764ce  usr/bin/foo' \
	    >> debian/tmp/DEBIAN/md5sums
	echo 'this is a malformed line' \
	    >> debian/tmp/DEBIAN/md5sums
	echo '56fb27e455dd86d8801f1ecd3a4cee49  usr/share/doc/etcfiles/README.Debian' \
	    >> debian/tmp/DEBIAN/md5sums

	dpkg-gencontrol -isp
	dpkg --build debian/tmp ..

binary: binary-indep

.PHONY: binary-indep binary clean
