#!/usr/bin/make -f

tmp=debian/tmp

build:

binary-arch:

binary-indep:
	# Create several copyright packages
	for copyright in debian/copyright* ; do \
		install -d $(tmp) ;\
		install -d $(tmp)/DEBIAN ;\
		install -d $(tmp)/usr/share/doc/`basename $$copyright` ;\
		install -m 644 debian/changelog \
		  $(tmp)/usr/share/doc/`basename $$copyright`/changelog ;\
		gzip -9 $(tmp)/usr/share/doc/`basename $$copyright`/changelog ;\
		install -m 644 $$copyright \
		  $(tmp)/usr/share/doc/`basename $$copyright`/copyright ; \
		dh_md5sums -p`basename $$copyright` -P$(tmp) ; \
		dpkg-gencontrol -p`basename $$copyright` -P$(tmp) ; \
		dpkg --build $(tmp) .. ; \
		rm -rf $(tmp) ; \
	done

	# Create package with symlink
	install -d $(tmp)
	install -d $(tmp)/DEBIAN
	install -d $(tmp)/usr/share/doc/copyright.symlink
	install -m 644 debian/changelog \
	  $(tmp)/usr/share/doc/copyright.symlink/changelog
	gzip -9 $(tmp)/usr/share/doc/copyright.symlink/changelog
	cp debian/copyright.no-errors $(tmp)/usr/share/doc/copyright.symlink
	ln -s $(tmp)/usr/share/doc/copyright.symlink/copyright.no-errors \
	  $(tmp)/usr/share/doc/copyright.symlink/copyright
	dh_md5sums -pcopyright.symlink -P$(tmp)
	dpkg-gencontrol -pcopyright.symlink -P$(tmp)
	dpkg --build $(tmp) ..
	rm -rf $(tmp)

	# Create package with compressed file
	install -d $(tmp)
	install -d $(tmp)/DEBIAN
	install -d $(tmp)/usr/share/doc/copyright.compressed
	install -m 644 debian/changelog \
	  $(tmp)/usr/share/doc/copyright.compressed/changelog
	gzip -9 $(tmp)/usr/share/doc/copyright.compressed/changelog
	cp debian/copyright.no-errors \
	  $(tmp)/usr/share/doc/copyright.compressed/copyright
	gzip -9 $(tmp)/usr/share/doc/copyright.compressed/copyright
	dh_md5sums -pcopyright.compressed -P$(tmp)
	dpkg-gencontrol -pcopyright.compressed -P$(tmp)
	dpkg --build $(tmp) ..
	rm -rf $(tmp)

	# Create package with old directory
	install -d $(tmp)
	install -d $(tmp)/DEBIAN
	install -d $(tmp)/usr/share/doc/copyright.old-style
	install -d $(tmp)/usr/doc/copyright
	install -m 644 debian/changelog \
	  $(tmp)/usr/share/doc/copyright.old-style/changelog
	gzip -9 $(tmp)/usr/share/doc/copyright.old-style/changelog
	cp debian/copyright.no-errors \
	  $(tmp)/usr/doc/copyright/copyright.old-style
	dh_md5sums -pcopyright.old-style -P$(tmp)
	dpkg-gencontrol -pcopyright.old-style -P$(tmp)
	dpkg --build $(tmp) ..
	#rm -rf $(tmp)

binary: binary-arch binary-indep

clean:
	rm -rf debian/files $(tmp) debian/substvars

.PHONY: build binary-arch binary-indep binary clean
