Package: deb-format-extra-underscore-member-before-control
Version: 1.0
Architecture: all
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Section: devel
Priority: extra
Description: Test package for an ar archive with an extra _member before data.tar
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.  It may
 be an empty package.
