#!/usr/bin/make -f

# Copyright (C) 1998 Richard Braakman
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, you can find it on the World Wide
# Web at http://www.gnu.org/copyleft/gpl.html, or write to the Free
# Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
# MA 02110-1301, USA.

build:

binary-indep:
	install -d debian/empty debian/empty/DEBIAN
	dpkg-gencontrol -pempty -Pdebian/empty
	dpkg --build debian/empty ..
	install -d debian/empty-docs debian/empty-docs/DEBIAN
	dpkg-gencontrol -pempty-docs -Pdebian/empty-docs
	dpkg --build debian/empty-docs ..
	install -d debian/libempty-perl debian/libempty-perl/DEBIAN
	dpkg-gencontrol -plibempty-perl -Pdebian/libempty-perl
	dpkg --build debian/libempty-perl ..
	install -d debian/python-empty debian/python-empty/DEBIAN
	dpkg-gencontrol -ppython-empty -Pdebian/python-empty
	dpkg --build debian/python-empty ..

binary: binary-indep

clean:
	rm -rf $(CURDIR)/debian/empty $(CURDIR)/debian/empty-docs \
		$(CURDIR)/debian/libempty-perl $(CURDIR)/debian/python-empty \
		debian/files

.PHONY: build binary-indep binary clean
