#!/usr/bin/make -f
pkg = $(shell dh_listpackages)

%:
	dh $@

override_dh_installchangelogs:
	install -c -m 644 debian/changelog \
	    debian/$(pkg)/usr/share/doc/$(pkg)/changelog.Debian
	gzip -1 -n debian/$(pkg)/usr/share/doc/$(pkg)/changelog.Debian
