#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_settitle "Funky lintian test"

# Bad priorities.
db_text LOW debconf/test
db_input normal debconf/test

# Valid priorities.
db_text \
high debconf/test
foo=medium
db_input $foo debconf/test
db_input "$foo" debconf/test
db_input 'medium' debconf/test

# debconf/transtring should not be flagged as unused
# (it's aliased to debconf/alias, which is used)
db_register debconf/transtring debconf/alias
db_input medium debconf/alias
