#!/usr/bin/make -f

tmp := $(CURDIR)/debian/$(shell dh_listpackages)

%:
	dh $@

override_dh_install:
	dh_install
	echo "#fake conf file" > $(tmp)/etc/pam.conf
	echo "Back-up file" > $(tmp)/usr/share/foo/file~
	touch $(tmp)/usr/doc/FSSTND
	touch $(tmp)/usr/share/foo/'*'
	touch $(tmp)/usr/share/foo/'ws '
	touch $(tmp)/usr/share/foo/.nfs-fake-tmpfile
	# If the following line gets messed up, it can be
	# restored with something like:
	#   sed -i 's/@FILE@/bokm\xe5l/'
	touch $(tmp)/usr/share/foo/bokmål
	touch $(tmp)/var/catman/do

override_dh_fixperms:
	dh_fixperms
	chmod 755 $(tmp)/usr/share/man/man5/foo.5.gz
	chmod 644 $(tmp)/etc/sudoers.d/*

override_dh_compress:
	dh_compress
	# create a .png and .png.gz
	gzip -1 $(tmp)/usr/share/doc/lintian/lintian-16x16.png
	zcat $(tmp)/usr/share/doc/lintian/lintian-16x16.png.gz > \
		$(tmp)/usr/share/doc/lintian/lintian-16x16.png

override_dh_link:
	dh_link
	mkdir -p $(tmp)/usr/share/doc/bar
	echo "Hallo World" > $(tmp)/usr/share/doc/bar/foo
	ln -s ../bar/foo $(tmp)/usr/share/doc/bar/star
