Source: dh7-minimal
Section: devel
Priority: optional
Maintainer: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.0

Package: dh7-test
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Checks related to debhelper rule minimization
 New in debhelper 7.
 .
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
