#!/usr/bin/make -f
pkg=files-gzip
%:
	dh $@

override_dh_install:
	dh_install
	# we set the mtime to the past
	touch -m -d "2003-06-21 12:12:12 UTC" debian/$(pkg)/etc/timestamped-past.gz
	# we set the mtime to "right" now (meaning two hours ahead of
	# the changelog file).  We use that as "now" to be more robust
	# about being built in the past/present/future or in weird
	# time-zones
	NOW="$$(date -d "$$(dpkg-parsechangelog -SDate)" +%s)" ; \
	  touch -m -d @"$$((NOW+3600*2))" debian/$(pkg)/etc/timestamped-now.gz

override_dh_installdocs:
	dh_installdocs
	echo "Hello world :)" > debian/$(pkg)/usr/share/doc/$(pkg)/changelog.gz

override_dh_strip_nondeterminism:
	# Skip, it messes with our test
