#!/usr/bin/make -f
pkg=files-gzip
%:
	dh $@

override_dh_installdocs:
	dh_installdocs
	echo "Hello world :)" > debian/$(pkg)/usr/share/doc/$(pkg)/changelog.gz

override_dh_strip_nondeterminism:
	# Skip, it messes with our test
