Source: magic-architecture-srcpkg-wrong
Section: devel
Priority: optional
Maintainer: Debian Lintian Maintainers <lintian-maint@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2

Package: magic-architecture-srcpkg-wrong
Architecture: all
Depends: ${misc:Depends}
Description: Test package for "any" plus specific architectures in .dscs
 This is a test package designed to exercise some feature or tag of
 Lintian.  It is part of the Lintian test suite and may do very odd
 things.  It should not be installed like a regular package.
