#!/usr/bin/make -f

ifeq ($(DEB_BUILD_ARCH), x86_64-linux-gnu)
	ARCH=i386-linux-gnu
else
	ARCH=x86_64-linux-gnu
endif

DESTDIR = debian/$(shell dh_listpackages)/usr/lib/$(ARCH)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	
	mkdir -p $(DESTDIR)/cmake
	mkdir -p $(DESTDIR)/pkgconfig
	
	touch $(DESTDIR)/libfoo.a
	touch $(DESTDIR)/cmake/foo.cmake
	touch $(DESTDIR)/pkgconfig/libfoo.pc

override_dh_strip:
