[Unit]
After=network.target
Conflicts=shutdown.target
DefaultDependencies=no
Documentation=https://example.com/

[Service]
ExecStart=/bin/test

[Install]
WantedBy=multi-user.target
