[Desktop Entry]
Name=reserved
Comment=Entry in a reserved category (incorrect)
Type=Application
Categories=Screensaver;
Exec=foo
Icon=foo
Keywords=Fun
