Source: scripts
Section: interpreters
Priority: extra
Maintainer: Lintian Maintainers <lintian-maint@debian.org>
Uploaders: Jeroen van Wolfelaar <jeroen@wolffelaar.nl>
Standards-Version: 3.2.1

Package: scripts
Architecture: all
Depends: test, ruby1.8
Description: test lintian's script file checks
 Regression test lintian's script file checks.
