#!/usr/bin/make -f

tmp=debian/tmp

build:

binary-arch:

binary-indep:
	install -d $(tmp)/usr/bin/
	install -d $(tmp)/etc/X11/Xsession.d/
	install -d $(tmp)/usr/share/scripts/
	install -d $(tmp)/usr/share/doc/scripts/
	install -d $(tmp)/usr/lib/python2.3/site-packages/
	install -d $(tmp)/DEBIAN

	install -m 755 pyfoo $(tmp)/usr/bin/
	install -m 755 py2foo $(tmp)/usr/bin/
	install -m 755 perlfoo $(tmp)/usr/bin/
	install -m 755 rubyfoo $(tmp)/usr/bin/
	install -m 4755 perlfoo $(tmp)/usr/bin/suidperlfoo2
	install -m 4755 suidperlfoo $(tmp)/usr/bin/
	install -m 755 tkfoo $(tmp)/usr/bin/
	install -m 644 xsession-test $(tmp)/etc/X11/Xsession.d/ 

	echo "#!/usr/bin/perl" >> $(tmp)/usr/share/scripts/foobar.in
	chmod 644 $(tmp)/usr/share/scripts/foobar.in

	touch $(tmp)/usr/share/scripts/mono.exe
	chmod 755 $(tmp)/usr/share/scripts/mono.exe

	touch $(tmp)/usr/lib/python2.3/site-packages/test.pyc
	cp debian/changelog $(tmp)/usr/share/doc/scripts/changelog
	gzip -9 $(tmp)/usr/share/doc/scripts/changelog

	cp debian/scripts.conffiles $(tmp)/DEBIAN/conffiles
	dpkg-gencontrol -isp
	dpkg --build $(tmp) ..

binary: binary-arch binary-indep

clean:
	rm -rf debian/files $(tmp)

.PHONY: build binary-arch binary-indep binary clean
