#!/bin/sh
# This should be a makefile.
exec dh "$@"

# fake targets to trick lintian into believing the
# required targets are present (removed unrelated errors).
binary:
binary-arch:
binary-indep:
build:
build-arch:
build-indep:
clean:
